.form-control {
    width: 100%;
    outline: none;
    margin: 0;
    padding: var(--spacing-md) var(--spacing-lg);
    border: 1px solid var(--color-stone);
    border-radius: var(--radius-sm);
    font-size: 14px;
    transition: box-shadow .2s, border-color .2s;

    &:focus-visible {
        box-shadow: 0 0 0 1px var(--color-brand);
        border-color: var(--color-brand);
    }
}

.form-field {
    display: block;

    + .form-field {
        margin-top: var(--spacing-lg);
    }

    &__label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: var(--spacing-sm);
    }
}