* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    min-width: 320px;
    overflow-y: scroll;
}

.centered {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

[class*="material-icons"] {
    flex: none;
}

.icon-back {
    cursor: pointer;
}

.icon-edit {
    cursor: pointer;
    color: var(--color-success);
}

.icon-delete {
    cursor: pointer;
    color: var(--color-danger);
}

a {
    text-decoration: none;
    color: var(--color-brand);
    outline: none;

    &:hover {
        text-decoration: underline;
        color: var(--color-brand);
    }
}

.v-cloak {
    display: none;
}

.page-layout {
    display: flex;
    gap: var(--spacing-2xl);

    &__aside {
        width: var(--app-aside-width);
    }

    &__content {
        flex: 1;
        min-width: 0;
    }
}